@using BloodDonationManagementSystem.Models.Register
@model RegisterViewModel

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<link href="~/css/font-awesome.min.css" rel="stylesheet">

<div class="login-container">
    <div class="row">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Kullanıcı Tipi</label>
                <div>
                    <select class="form-select" id="kullanicitipleri">
                        @foreach(var item in Model.KullaniciTipleri)
                        {
                            <option value="@item.Id">@item.Isim</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group" id="bolumler" style="display:none">
                <label class="control-label">Bölüm</label>
                <div>
                    <select class="form-select" id="bolumSelect" asp-for="@Model.BolumId">
                        @foreach (var item in Model.Bolumler)
                        {
                            <option value="@item.Id">@item.Isim</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">T.C. Kimlik Numarası</label>
                <div>
                    <input type="text" maxlength="11" class="form-control" asp-for="@Model.Uye.TcKimlikNo">
                    <span class="label label-danger" style="color:red !important" asp-validation-for="@Model.Uye.TcKimlikNo"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">İsim</label>
                <div>
                    <input type="text" class="form-control" asp-for="@Model.Uye.Isim">
                    <span class="label label-danger" style="color:red !important" asp-validation-for="@Model.Uye.Isim"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Soyisim</label>
                <div>
                    <input type="text" class="form-control" asp-for="@Model.Uye.Soyisim">
                    <span class="label label-danger" style="color:red !important" asp-validation-for="@Model.Uye.Soyisim"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Doğum Tarihi</label>
                <div>
                    <input type="date" class="form-control" asp-for="@Model.Uye.DogumTarihi">
                    <span class="label label-danger" style="color:red !important" asp-validation-for="@Model.Uye.DogumTarihi"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Şifre</label>
                <div>
                    <input id="password-field" type="password" class="form-control" asp-for="@Model.Uye.Sifre">
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    <span class="label label-danger" style="color:red !important" asp-validation-for="@Model.Uye.Sifre"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Telefon</label>
                <div>
                    <input asp-for="@Model.Uye.Telefon" class="form-control"/>
                    <span class="label label-danger" style="color:red !important" asp-validation-for="@Model.Uye.Telefon"></span>
                </div>
            </div>
            <div class="form-group d-flex justify-content-center" style="margin-bottom:0px">
                <div>
                    <button type="submit" class="btn" style="background-color:#52616B;color:#F0F5F9;font-size:20px;font-family:Calibri;">Kayıt Ol</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(".toggle-password").click(function () {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

    $("#kullanicitipleri").on('change', function () 
    {
        if ($("#kullanicitipleri").val() == 2) $("#bolumler").css('display', 'block');
        else 
        { 
            $("#bolumler").css('display', 'none'); 
            $("#bolumSelect").val(0);
            console.log($("#bolumSelect").val());
        }
        
    });

    document.getElementById('phone').addEventListener('input', function (e) {
        var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
        e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
    });
</script>